@import '../variables.css';

.root {
	/*background-color: #1A8CF0;*/
}

.centralizedDiv {
  text-align: center;
}

.header {
	color: white;
	font-weight: bold;
	position: absolute;
	top: 30px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.carouselImage {
	/*width: 100%;*/
	/*border: 3px dotted white;*/
	z-index: -1;
}

.bgImage {
	background-size: contain;
    background-repeat: no-repeat;
}

.stripeText {
	display: inline-block;
	text-align: right;
}



@media only screen and (max-width: 1200px) {
    .stripeImage {
		display: inline-block;
		width: 100%;
		height: 100px;
	}

	.mobileInvisible {
		display: none;
		visibility: hidden;
	}

	.mobileVisible {
		visibility: visible;
	}
}

@media only screen and (min-width: 1200px) {
    .stripeImage {
		display: inline-block;
		width: 100%;
		height: auto;
	}

	.mobileInvisible {
		visibility: visible;
	}

	.mobileVisible {
		display: none;
		visibility: hidden;
	}
}

.leftAligned {
	width: 100%;
	text-align: left;
}