@import '../../components/variables.css';

.homeButton {
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: white;
  border-color: #09ADFF;
  color: #09ADFF;
}

.headingDecoration {
  margin-top: 30px;
}

.topMargin {
  margin-top: 80px;
}