@import '../variables.css';

.centerBlock {
  float: none;
  margin: 0 auto;
}

.centeringDiv {
  text-align: center;
}

.leftAlignedDiv {
  text-align: left;
}

.fixerPic {
	margin: auto;
	width: 35%;
	height: 35%;
}