@import '../../components/variables.css';

.stripe2Jumbotron {
  background-color: #f8f8f8;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: #5E5E5E;
}

.header {
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.inlineSteps {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
 
@media only screen and (max-device-width: 700px) {
  /* define mobile specific styles come here */
  .inlineSteps {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 280px;
  }
}

.stepDesc {
  color: #5E5E5E;
}

.nameWithIcon {
  margin: 0px;
}

.listElement {
  color: #09ADFF;
  padding: 0px;
  /*margin-left: 10px;
  margin-right: 10px;*/
  vertical-align: text-bottom;
  display: table;
  margin-bottom: 30px;
}

.listEleWrapper {
  height: 30px;
  text-align: center;
}

.noListStyle {
  list-style: none;
  padding-left: 0px;
}

.thickBorder {
  border: 5px solid #09ADFF;
}

.backTile {
  /*background-color: #09ADFF;*/
  color: #09ADFF;
  height: inherit;
  width: inherit;
  /*border-radius: 10px;*/
  border: 3px solid #09ADFF;
  font-weight: lighter;
  /*border-style: dotted;*/
}

.backTileNumber {
  padding: 50px;
  margin: 0px;
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

/* tile positioning */

.absolutePosition {
  position: absolute;
}

.relativePosition {
  position: relative;
  top: -50px;
}

/* layout */

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.centerBlock {
  float: none;
  margin: 0 auto;
}

/* animation */

.flip {
  backface-visibility: hidden;
  transform-origin: 50% 50% 0px;
  transition: all 3s; 
}

.side1 {
  transform: rotateY( 0deg );
}

.side2 {
  transform: rotateY( 180deg );   
}

.flipSide1 {    
  transform: rotateY( 0deg ) !important;
}

.flipSide2 {
  transform: rotateY( 180deg ) !important;
}
