
@import '../../components/variables.css';

.welcomePageHeader {
  padding-top: 0px;
  margin-top: 0px;
  color: black;
}

.stripe3Jumbotron {
  background-color: #f8f8f8;
  padding-top: 0px;
  color: black;
  margin-bottom: 0px;
  padding-top: 30px;
}

.reasonTitle {
  color: #1A8CF0;
}

.centralizedDiv {
  text-align: center;
}

.inlineReasons {
  display: inline-block;
  vertical-align: middle;
}

.reasonDesc {
  color: black;
}

.nameWithIcon {
  margin-right: 30px;
}

.listElement {
  color: white;
  padding: 0px;
  vertical-align: text-bottom;
  display: table;
}

.noListStyle {
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.circleBase {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: #1A8CF0;
  border: 3px dotted white;
  text-align: center;
  margin: auto;
}

.circleIcon {
  margin-top: 37px;
}