
@import '../../components/variables.css';

.stripe3Jumbotron {
  background-color: #1A8CF0;
  padding-top: 0px;
  color: white;
  margin-bottom: 0px;
}

.welcomePageHeader {
  padding-top: 30px;
  margin-top: 0px;
}

.centralizedDiv {
  text-align: center;
}

.inlineReasons {
  display: inline-block;
  vertical-align: middle;
}

.reasonDesc {
  color: white;
}

.nameWithIcon {
  margin-right: 30px;
}

.listElement {
  color: white;
  padding: 0px;
  vertical-align: text-bottom;
  display: table;
}

.noListStyle {
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

}