@import '../variables.css';

.resultsWrapper {
  margin: 30px auto;
}

.panelStyle {
  text-align: left;
}

.selectedPanel {
  border: 2px solid green;
}

.inlineFixerEles {
  display: inline-block;
}

.noListStyle {
  list-style: none;
  padding-left: 0px;
}

.fixerImage {
  padding-right: 10px;
}

.centerBlock {
  float: none;
  margin: 0 auto;
}

.centeringDiv {
  text-align: center;
}

.leftAlignedDiv {
  text-align: left;
}