@import '../../variables.css';

.root {

}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
}

.formWrapper {
	margin: auto;
	text-align: left;
}

.questionLabel {
  text-align: left;
  padding-bottom: 10px;
}

.qAnswers {
  margin-bottom: 20px;
}

.acceptBtn {
  width: 120px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.centerBlock {
  float: none;
  margin: 0 auto;
}

.centeringDiv {
  text-align: center;
}

.leftAlignedDiv {
  text-align: left;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}