@import '../../components/variables.css';

.root {

}

.container {
  padding: 20px 15px;
}

.containerDiv {
	margin: auto;
	text-align: left;
	margin-top: 40px;
}

.confirmBtnWrapper {
	text-align: center;
  margin-top: 20px;
	margin-bottom: 20px;
}

.inlineFixerEles {
  display: inline-block;
}

.noListStyle {
  list-style: none;
  padding-left: 0px;
}

.fixerImage {
	padding-right: 10px;
}

.centerBlock {
  float: none;
  margin: 0 auto;
}

.centeringDiv {
  text-align: center;
}

.leftAlignedDiv {
  text-align: left;
}