@import '../../variables.css';

.inlineCategories {
  display: inline-block;
  padding: 0px 30px 0px 30px;
  margin-top: 40px;
}

.noListStyle {
  list-style: none;
  padding-left: 0px;
}

.centralizedDiv {
  text-align: center;
}

.centerBlock {
  float: none;
  margin: 0 auto;
}

.centeringDiv {
  text-align: center;
}

.leftAlignedDiv {
  text-align: left;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}
