@import '../../variables.css';

.root {
  
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);
}

.horizontalList {
	list-style: none;
}

.horizontalListEle {
	display: inline;
}

.inline {
  display: inline-block;
	margin-right: 15px;
}

.noListStyle {
  list-style: none;
  padding-left: 10px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}